<!DOCTYPE html>
<html lang="en">
<head>
    {% from "_formhelpers.html" import render_field %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baby Journal</title>
    <link rel="stylesheet" href="static/styles/diaper_journal.css">
</head>
<body class="login-page">
<div class="login-page">
<h1 id="user_title">Baby Journal</h1>
    <div class="form">
    {% block content %}{% endblock %}
  </div>
</div>
</body>
</html>